</div>
<!-- END: .app-wrap -->


<!--
    **********************
    **********************
    Common JS files
    **********************
    **********************
-->

<!-- jQuery JS. -->
<script src="/js/jquery.js"></script>

<!-- Info: jQuery UI is required for datepicker and date range or any jQuery UI related plugins -->
<script src="/js/jquery-ui.min.js"></script>

<!-- Tether Js, then other JS. -->
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/vendor/unifyMenu/unifyMenu.js"></script>
<script src="/vendor/onoffcanvas/onoffcanvas.js"></script>
<script src="/js/moment.js"></script>

<!-- News Ticker JS -->
<script src="/vendor/newsticker/newsTicker.min.js"></script>
<script src="/vendor/newsticker/custom-newsTicker.js"></script>

<!-- Slimscroll JS -->
<script src="/vendor/slimscroll/slimscroll.min.js"></script>
<script src="/vendor/slimscroll/custom-scrollbar.js"></script>

<!-- Daterange JS -->
<script src="/vendor/daterange/daterange.js"></script>
<script src="/vendor/daterange/custom-daterange.js"></script>


<!--
    **********************
    **********************
    Optional JS files - Plugns
    **********************
    **********************
-->

<!-- Peity JS -->
<script src="/vendor/peity/peity.min.js"></script>
<script src="/vendor/peity/custom-peity.js"></script>

<!-- Circliful JS -->
<script src="/vendor/circliful/circliful.min.js"></script>
<script src="/vendor/circliful/circliful.custom.js"></script>

<!-- Chartist JS -->
<script src="/vendor/chartist/chartist.min.js"></script>
<script src="/vendor/chartist/chartist-tooltip.js"></script>
<script src="/vendor/chartist/custom/custom-line-area.js"></script>
<script src="/vendor/chartist/custom/custom-line-area2.js"></script>

<!-- Common JS -->
<script src="/js/common.js"></script>

<script>
    //Datepicker
    $(function () {
        $("#datepicker").datepicker();
    });
</script>

</body>

</html>